extends layout

block content
	script
		var autocomplete1 = !{JSON.stringify(artists)};
		var autocomplete2 = !{JSON.stringify(titles)};
	script(type='text/javascript', src='/javascripts/search.js')

	.container-narrow
		.masthead
			ul.nav.nav-pills.pull-right
				li
					a(href='/home') Home
				li
					a(href='/topvideos') Top Videos
				li.active
					a(href='/search') Search
			h3.muted The Phoenix Project
		hr
		.jumbotron
			h1 StreamYourLifeAway
		hr
		.row.description
			.span12
				form#myForm.form-horizontal(name ="form", method="post",action="/search")
					.control-group
						.controls.input-prepend
							span.add-on
								strong Artist Name
							input#inputArtist.span3(type='text', placeholder='Artist Name', name='vidSearch[artist]', autocomplete = "off")
					.control-group
						.controls.input-prepend
							span.add-on
								strong Song Title
							input#inputTitle.span3(type='text', placeholder='Song Title',name='vidSearch[title]', autocomplete = "off")
							input#returnField(type='hidden',name='vidSearch[returnValue]',value=title)
					.control-group
						.controls
							input.btn(type='button',onclick='vidSearch(this.form)',value="Search").strong Search
							
		hr
		.footer
			p © The Phoenix Project 2013
