extends layout
block content
  .container-narrow
    .masthead
      ul.nav.nav-pills.pull-right
        li
          a(href='/home') Home
        li
          a(href='/topvideos') Top Videos
        li
          a(href='/search') Search
        li.active
          a(href='/stream') Stream
      h3.muted The Phoenix Project
    hr
    .jumbotron
      div#player  

    hr
    .jumbotron
       
     
    hr
    .row.description
      .span12
       
    hr
    .footer
      p © The Phoenix Project 2013
        script
          var source = !{JSON.stringify(Videos)};
        script(type='text/javascript', src='/javascripts/playerControl.js')
